html,
body,
#map {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.legend {
  padding: 10px;
  line-height: 18px;
  color: #555;
  background-color: #fff;
  border-radius: 5px;
}

.legend i {
  float: left;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  opacity: 0.7;
}

.leaflet-bottom.leaflet-left {
  width: 90%;
}

.leaflet-control-container .leaflet-timeline-controls {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 15px;
}
.navbar-static-top{
  color: rgb(233, 227,220);
  height: 60px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 140%;
  background: rgb(233, 227, 220);

}

.container-fluid{
  color: rgb(233, 227, 220);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 140%;
  background-color: rgb(233, 227, 220);
}
.navbar-nav li {
display:inline-block; 
color: rgb(233, 227, 220)    
}

.description-header{
  font-weight: bold;
}

.description-header2{
  padding-left: 3%;
  font-weight: bold;
}
.carousel-active {
  height: 500px;
}

.display-4{
  font-size: 500%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-top: 0%;
  font-weight: bold;
}

.row-dash{
  padding-left: 1.5%;
}

.lead{
  font-size: 200%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: lighter;
}
.d-block {
  height: 400px;
  padding: 20px;
  padding-top: 0%;
  padding-bottom: 0%;
}

.container-home{
  padding-left: 1.5%;
  padding-right: 1.5%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 140%;
}

img{
  width: 85%;
}

head{
  background-color: rgb(233, 227, 220);
}

body{
  background-color: rgb(233, 227, 220);
}